<p style="color: green" class="flesh"><%= notice %></p>

<h1 class="text-3xl font-bold text-left mb-10 text-white">Customer requests</h1>

<table class="table-auto hover:table-fixed text-gray-300 rounded border">
  <thead>
    <tr class="border">
      <th>email</th>
      <th>subject</th>
      <th>status</th>
      <th>actions</th>
    </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr class="customer_request border" id="<%= dom_id ticket %>">
      <td class="py-10 px-10">
        <%= ticket.email %>
      </td>

      <td>
        <%= ticket.subject %>
      </td>

      <td>
        <%= ticket.decorate.status_name %>
      </td>

      <td>
        <%= link_to "Show this request", admin_customer_request_url(ticket), class: 'rounded bg-blue-500 text-white hover:bg-blue-700 py-2 px-5' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'log_out' %>
