<div class="mb-4">
  <p class="text-red-600 flash"><%= flash[:error] %></p>
  <p class="text-green-700 flash"><%= flash[:notice] %></p>
</div>

<div id="<%= dom_id @ticket %>" class="text-gray-300">
  <p>
    <strong>Subject:</strong>
    <%= @ticket.subject %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @ticket.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @ticket.decorate.status_name %>
  </p>

  <% if @ticket.content.present? %>
    <p>
      <strong>Content:</strong>
      <%= @ticket.content %>
    </p>
  <% end %>

  <p>
    <strong>Created at:</strong>
    <%= @ticket.created_at %>
  </p>
</div>

<div>
  <%= link_to "Back to list of requests", admin_path %>

  <%= button_to "Destroy", admin_customer_request_url(@ticket), method: :delete %>
  <%= button_to "Move to #{@ticket.decorate.next_status_name} status", admin_customer_request_path(@ticket), method: :patch, params: { customer_request: { status_id: @ticket.decorate.next_status_id } }, class: 'rounded bg-blue-500 text-white w-full hover:bg-blue-700 py-2 px-5' %>
</div>

<%= render 'log_out' %>
