<h1>New request</h1>

<%= form_with(model: @ticket, url: customer_requests_path) do |form| %>
  <% if @ticket.errors.any? %>
    <div style="color: red">
      <h2>There is <%= pluralize(@ticket.errors.count, "error") %> occurred:</h2>

      <ul>
        <% @ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, rows: "10" %>
  </div>

  <div>
    <%= form.submit 'Create' %>
  </div>
<% end %>
